body { 	min-width:1200px;
}
#nav {	background-image: url('../../image/bluebar.png'); 
		background-repeat:no-repeat; 
		background-size:100% 100%;
		background-origin:content-box;
		margin: 0px;
		min-width:1200px;
		padding:auto;
		font-size:12px;
}
#nav a { color:white; text-decoration:none; padding:0px 5px 0px 5px;
}
#nav a.current { 	background-image: url('../../image/orangebar.png');
					background-size:100% 100%;
					padding:14px 35px 14px 35px;
					text-decoration:none;				
}
.directory { 		background-image: url('../../image/orangebar.png');
					background-size:100% 100%;
					padding:14px 35px 14px 35px;
					text-decoration:none;
}

#searchwrapper {
					width:310px; /*follow your image's size*/
					height:40px;/*follow your image's size*/
					background-image:url(THE_SEARCH_BOX_IMAGE);
					background-repeat:no-repeat; /*important*/
					padding:0px;
					margin:0px;
					position:relative; /*important*/
}
 
#searchwrapper form { display:inline ; }
 
.searchbox {	border:0px; /*important*/
				background-color:white; /*important*/
				position:absolute; /*important*/
				top:8px;
				left:2px;
				width:220px;
				height:20px;
				border: 1px solid #DDDDDD;
				-webkit-transition: all 0.30s ease-in-out;
				-moz-transition: all 0.30s ease-in-out;
				-ms-transition: all 0.30s ease-in-out;
				-o-transition: all 0.30s ease-in-out;
				outline: none;
}

.searchbox:focus {    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
					  border: 2px solid rgba(81, 203, 238, 1);
					  padding-left:5px;
}
 
.searchbox_submit {
						border:0px; /*important*/
						background-image:url('../../image/search_button.png'); /*important*/
						background-repeat:no-repeat;
						background-size:100% 100%;	
						background-color:transparent;
						position:absolute; /*important*/
						top:-2px;
						left:190px;
						width:80px;
						height:44px;
						padding:0px 5px 0px 5px;
						cursor:pointer;
						color:transparent;
}
/*.searchbox_submit:hover { 	border:0px; /*important*/
							/*background-image:url('image/searchicon2.png'); /*important*/
							/*background-repeat:no-repeat;
							background-size:100% 100%;	
							background-color:transparent;
							position:absolute; /*important*/
							/*top:8px;
							left:190px;
							width:75px;
							height:25px;
							cursor:pointer;
							color:transparent;
}*/