@CHARSET "ISO-8859-1";

/*HEADER*/
#header { 	/*background-image: url("../../image/HeaderBG.jpg"); 
			background-size:100% 100%;	*/
			font-family:verdana;
}

/*CONTAINER*/
body { 	background-image: url('../../image/HeaderBG.jpg');
		background-size:100% 200px;
		background-repeat:repeat-x;
		font-family:Verdana;
}

.pageTitle { border-bottom:1px solid darkgray;
			 color:white;
			 font-size:21px;			 
			 font-variant:small-caps;
			 font-weight:bold;
			 letter-spacing: .1em;
			 background-image: url('../../image/MedriksWebsitePageTitleBlueBar.png');
			 background-origin:content-box;
			 background-repeat:no-repeat;
			 background-size:85% 125%;
			 margin-left:150px;
			 margin-top:5%;
}
.pageTitle2 { border-bottom:1px solid darkgray;
			 color:white;
			 font-size:21px;			 
			 font-variant:small-caps;
			 font-weight:bold;
			 letter-spacing: .1em;
			 background-image: url('../../image/MedriksWebsitePageTitleBlueBar.png');
			 background-origin:content-box;
			 background-repeat:no-repeat;
			 background-size:85% 125%;
			 margin-left:auto;
}

.pageTitle3 { border-bottom:1px solid darkgray;
			 color:white;
			 font-size:21px;			 
			 font-variant:small-caps;
			 font-weight:bold;
			 letter-spacing: .1em;
			 background-image: url('../../image/MedriksWebsitePageTitleBlueBar.png');
			 background-origin:content-box;
			 background-repeat:no-repeat;
			 background-size:100% 125%;
			 margin-left:150px;
			 margin-top:5%;
}

.pageTitle4 { border-bottom:1px solid darkgray;
			 color:white;
			 font-size:21px;			 
			 font-variant:small-caps;
			 font-weight:bold;
			 letter-spacing: .1em;
			 background-image: url('../../image/MedriksWebsitePageTitleBlueBar.png');
			 background-origin:content-box;
			 background-repeat:no-repeat;
			 background-size:85% 125%;
			 margin-left:-50px;
			 margin-top:70px;
}

::-webkit-input-placeholder {
   			color: #0039a6;
   			font-size:14px;
   			font-weight:bold;
   			
}

:-moz-placeholder { /* Firefox 18- */
   			color: #0039a6;
   			font-size:14px;
   			font-weight:bold; 
}

::-moz-placeholder {  /* Firefox 19+ */
   			color: #0039a6;
   			font-size:14px;
   			font-weight:bold;
}

:-ms-input-placeholder {  
   			color: #0039a6;
   			font-size:14px;
   			font-weight:bold;
}
.err { 		color:red;
}
/*FORGOT PASSWORD*/
#forgot input[type=text] { 	border:none;
							border-top:4px solid grey;
							border-left:1px solid grey;
							border-right:1px solid grey;
							border-bottom:1px solid grey;
							border-radius:5px;
							-webkit-transition: all 0.30s ease-in-out;
							-moz-transition: all 0.30s ease-in-out;
							-ms-transition: all 0.30s ease-in-out;
							-o-transition: all 0.30s ease-in-out;
							outline: none;
							
}
#forgot input[type=text]:focus 
{ 	box-shadow: 0 0 2px rgba(81, 203, 238, 1);
	border: 1px solid rgba(81, 203, 238, 1);
}
#forgot input[type=submit]:active 
{ 	box-shadow: 0 0 2px rgba(81, 203, 238, 1);
	border: 1px solid rgba(81, 203, 238, 1);
	padding-left:25px;
}
#forgot .error { 	color:red;
}
#forgot input[type=submit] { 
									background:url('../../image/forgot.png') no-repeat left;
									background-size:25px 20px;
									padding-left:25px;
									border-top:4px solid grey;
									border-left:1px solid grey;
									border-right:1px solid grey;
									border-bottom:1px solid grey;
									border-radius:5px;
									cursor:pointer;	
									-webkit-transition: all 0.30s ease-in-out;
									-moz-transition: all 0.30s ease-in-out;
									-ms-transition: all 0.30s ease-in-out;
									-o-transition: all 0.30s ease-in-out;
									outline: none;														
}
/*END*/

/*REGISTER*/
#register input[type=text], #register select, #register textarea 
{ 	
	border:none;
	border-top:4px solid grey;
	border-left:1px solid grey;
	border-right:1px solid grey;
	border-bottom:1px solid grey;
	border-radius:5px;
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	outline: none;
}
#register input[type=text]:focus, #register textarea:focus  
{ 	box-shadow: 0 0 2px rgba(81, 203, 238, 1);
	border: 1px solid rgba(81, 203, 238, 1);
	padding-left:10px;
}
#register select:focus { 	box-shadow: 0 0 2px rgba(81, 203, 238, 1);
							border: 1px solid rgba(81, 203, 238, 1);
}
#register .reset { 	background:url('../../image/register_reset.png') no-repeat left;
					background-size:20px 22px;
					padding-left:20px;
					height:35px;
					width:60px;
					border-top:4px solid grey;
					border-left:1px solid grey;
					border-right:1px solid grey;
					border-bottom:1px solid grey;
					border-radius:5px;
					cursor:pointer;	
					-webkit-transition: all 0.30s ease-in-out;
					-moz-transition: all 0.30s ease-in-out;
					-ms-transition: all 0.30s ease-in-out;
					-o-transition: all 0.30s ease-in-out;
					outline: none;		
}
#register .reset:active 
{ 	box-shadow: 0 0 2px rgba(81, 203, 238, 1);
	border: 1px solid rgba(81, 203, 238, 1);
}
#register .next { 	background:url('../../image/nextbutton.png') no-repeat left;
					background-size:25px 25px;
					padding-left:25px;
					height:35px;
					width:60px;
					border-top:4px solid grey;
					border-left:1px solid grey;
					border-right:1px solid grey;
					border-bottom:1px solid grey;
					border-radius:5px;
					cursor:pointer;	
					-webkit-transition: all 0.30s ease-in-out;
					-moz-transition: all 0.30s ease-in-out;
					-ms-transition: all 0.30s ease-in-out;
					-o-transition: all 0.30s ease-in-out;
					outline: none;		
}
#register .next:active 
{ 	box-shadow: 0 0 2px rgba(81, 203, 238, 1);
	border: 1px solid rgba(81, 203, 238, 1);
}

/*END*/