/*

	For Patient CSS

*/

.go_button {
	background:url('../../image/go.png') no-repeat left;
	background-size:20px 20px;
	cursor:pointer;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    background-color: #0039a6;
    padding:2px 5px 2px 20px;
    font-size: 16px;
    border: 1px solid #2d6898; 
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-shadow: 0px -1px 0px rgba(0,0,0,.5);
    -webkit-box-shadow: 0px 6px 0px #C0C0C0, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
    -moz-box-shadow: 0px 6px 0px #C0C0C0, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
    box-shadow: 0px 6px 0px #C0C0C0, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
    
}

.go_button:active {
	background:url('../../image/go.png') no-repeat left;
	background-size:20px 20px;
    background-color: #0039a6;
    color:#f78f1e;
    -webkit-box-shadow: 0px 2px 0px #C0C0C0, 0px 1px 6px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
	-moz-box-shadow: 0px 2px 0px #C0C0C0, 0px 1px 6px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
	box-shadow: 0px 2px 0px #C0C0C0, 0px 1px 6px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
	-webkit-transform: translate(0, 4px);
	-moz-transform: translate(0, 4px);
	transform: translate(0, 4px);
	-webkit-transition: all .1s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	
}

.cancel_button {
	background:url('../../image/exit.png') no-repeat left;
	background-size:20px 20px;
	cursor:pointer;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    background-color: #0039a6;
    padding:2px 5px 2px 20px;
    font-size: 16px;
    border: 1px solid #2d6898; 
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-shadow: 0px -1px 0px rgba(0,0,0,.5);
    -webkit-box-shadow: 0px 6px 0px #C0C0C0, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
    -moz-box-shadow: 0px 6px 0px #C0C0C0, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
    box-shadow: 0px 6px 0px #C0C0C0, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
    
}

.cancel_button:active {
	background:url('../../image/exit.png') no-repeat left;
	background-size:20px 20px;
    background-color: #0039a6;
    color:#f78f1e;
    -webkit-box-shadow: 0px 2px 0px #C0C0C0, 0px 1px 6px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
	-moz-box-shadow: 0px 2px 0px #C0C0C0, 0px 1px 6px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
	box-shadow: 0px 2px 0px #C0C0C0, 0px 1px 6px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
	-webkit-transform: translate(0, 4px);
	-moz-transform: translate(0, 4px);
	transform: translate(0, 4px);
	-webkit-transition: all .1s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	
}

.update_button {
	background:url('../../image/edit.png') no-repeat left;
	background-size:20px 20px;
	cursor:pointer;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    background-color: #0039a6;
    padding:2px 5px 2px 20px;
    font-size: 16px;
    border: 1px solid #2d6898; 
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-shadow: 0px -1px 0px rgba(0,0,0,.5);
    -webkit-box-shadow: 0px 6px 0px #C0C0C0, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
    -moz-box-shadow: 0px 6px 0px #C0C0C0, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
    box-shadow: 0px 6px 0px #C0C0C0, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
    
}

.update_button:active {
	background:url('../../image/edit.png') no-repeat left;
	background-size:20px 20px;
    background-color: #0039a6;
    color:#f78f1e;
    -webkit-box-shadow: 0px 2px 0px #C0C0C0, 0px 1px 6px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
	-moz-box-shadow: 0px 2px 0px #C0C0C0, 0px 1px 6px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
	box-shadow: 0px 2px 0px #C0C0C0, 0px 1px 6px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
	-webkit-transform: translate(0, 4px);
	-moz-transform: translate(0, 4px);
	transform: translate(0, 4px);
	-webkit-transition: all .1s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	
}

.setappt_button {
	background:url('../../image/setappt.png') no-repeat left;
	background-size:20px 20px;
	cursor:pointer;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    background-color: #0039a6;
    padding:2px 5px 2px 20px;
    font-size: 16px;
    border: 1px solid #2d6898; 
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-shadow: 0px -1px 0px rgba(0,0,0,.5);
    -webkit-box-shadow: 0px 6px 0px #C0C0C0, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
    -moz-box-shadow: 0px 6px 0px #C0C0C0, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
    box-shadow: 0px 6px 0px #C0C0C0, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
    
}

.setappt_button:active {
	background:url('../../image/setappt.png') no-repeat left;
	background-size:20px 20px;
    background-color: #0039a6;
    color:#f78f1e;
    -webkit-box-shadow: 0px 2px 0px #C0C0C0, 0px 1px 6px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
	-moz-box-shadow: 0px 2px 0px #C0C0C0, 0px 1px 6px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
	box-shadow: 0px 2px 0px #C0C0C0, 0px 1px 6px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
	-webkit-transform: translate(0, 4px);
	-moz-transform: translate(0, 4px);
	transform: translate(0, 4px);
	-webkit-transition: all .1s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	
}

.calendar_button {
	background:url('../../image/calendar.png') no-repeat left;
	background-size:20px 20px;
	cursor:pointer;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    background-color: #0039a6;
    padding:2px 5px 2px 20px;
    font-size: 16px;
    border: 1px solid #2d6898; 
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-shadow: 0px -1px 0px rgba(0,0,0,.5);
    -webkit-box-shadow: 0px 6px 0px #C0C0C0, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
    -moz-box-shadow: 0px 6px 0px #C0C0C0, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
    box-shadow: 0px 6px 0px #C0C0C0, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
    
}

.calendar_button:active {
	background:url('../../image/calendar.png') no-repeat left;
	background-size:20px 20px;
    background-color: #0039a6;
    color:#f78f1e;
    -webkit-box-shadow: 0px 2px 0px #C0C0C0, 0px 1px 6px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
	-moz-box-shadow: 0px 2px 0px #C0C0C0, 0px 1px 6px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
	box-shadow: 0px 2px 0px #C0C0C0, 0px 1px 6px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
	-webkit-transform: translate(0, 4px);
	-moz-transform: translate(0, 4px);
	transform: translate(0, 4px);
	-webkit-transition: all .1s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	
}

.add_button {
	background:url('../../image/add.png') no-repeat left;
	background-size:20px 20px;
	cursor:pointer;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    background-color: #0039a6;
    padding:2px 5px 2px 20px;
    font-size: 16px;
    border: 1px solid #2d6898; 
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-shadow: 0px -1px 0px rgba(0,0,0,.5);
    -webkit-box-shadow: 0px 6px 0px #C0C0C0, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
    -moz-box-shadow: 0px 6px 0px #C0C0C0, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
    box-shadow: 0px 6px 0px #C0C0C0, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
    
}

.add_button:active {
	background:url('../../image/add.png') no-repeat left;
	background-size:20px 20px;
    background-color: #0039a6;
    color:#f78f1e;
    -webkit-box-shadow: 0px 2px 0px #C0C0C0, 0px 1px 6px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
	-moz-box-shadow: 0px 2px 0px #C0C0C0, 0px 1px 6px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
	box-shadow: 0px 2px 0px #C0C0C0, 0px 1px 6px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
	-webkit-transform: translate(0, 4px);
	-moz-transform: translate(0, 4px);
	transform: translate(0, 4px);
	-webkit-transition: all .1s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	
}

.save_button {
	background:url('../../image/add.png') no-repeat left;
	background-size:20px 20px;
	cursor:pointer;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    background-color: #0039a6;
    padding:2px 5px 2px 20px;
    font-size: 16px;
    border: 1px solid #2d6898; 
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-shadow: 0px -1px 0px rgba(0,0,0,.5);
    -webkit-box-shadow: 0px 6px 0px #C0C0C0, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
    -moz-box-shadow: 0px 6px 0px #C0C0C0, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
    box-shadow: 0px 6px 0px #C0C0C0, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
    
}

.save_button:active {
	background:url('../../image/add.png') no-repeat left;
	background-size:20px 20px;
    background-color: #0039a6;
    color:#f78f1e;
    -webkit-box-shadow: 0px 2px 0px #C0C0C0, 0px 1px 6px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
	-moz-box-shadow: 0px 2px 0px #C0C0C0, 0px 1px 6px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
	box-shadow: 0px 2px 0px #C0C0C0, 0px 1px 6px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
	-webkit-transform: translate(0, 4px);
	-moz-transform: translate(0, 4px);
	transform: translate(0, 4px);
	-webkit-transition: all .1s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	
}

.prescribe_button {
	background:url('../../image/add.png') no-repeat left;
	background-size:20px 20px;
	cursor:pointer;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    background-color: #0039a6;
    padding:2px 5px 2px 20px;
    font-size: 16px;
    border: 1px solid #2d6898; 
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-shadow: 0px -1px 0px rgba(0,0,0,.5);
    -webkit-box-shadow: 0px 6px 0px #C0C0C0, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
    -moz-box-shadow: 0px 6px 0px #C0C0C0, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
    box-shadow: 0px 6px 0px #C0C0C0, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
    
}

.prescribe_button:active {
	background:url('../../image/add.png') no-repeat left;
	background-size:20px 20px;
    background-color: #0039a6;
    color:#f78f1e;
    -webkit-box-shadow: 0px 2px 0px #C0C0C0, 0px 1px 6px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
	-moz-box-shadow: 0px 2px 0px #C0C0C0, 0px 1px 6px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
	box-shadow: 0px 2px 0px #C0C0C0, 0px 1px 6px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
	-webkit-transform: translate(0, 4px);
	-moz-transform: translate(0, 4px);
	transform: translate(0, 4px);
	-webkit-transition: all .1s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	
}

.upload_button {
	background:url('../../image/upload.png') no-repeat left;
	background-size:20px 20px;
	cursor:pointer;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    background-color: #0039a6;
    padding:2px 5px 2px 20px;
    font-size: 16px;
    border: 1px solid #2d6898; 
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-shadow: 0px -1px 0px rgba(0,0,0,.5);
    -webkit-box-shadow: 0px 6px 0px #C0C0C0, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
    -moz-box-shadow: 0px 6px 0px #C0C0C0, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
    box-shadow: 0px 6px 0px #C0C0C0, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
    
}

.upload_button:active {
	background:url('../../image/upload.png') no-repeat left;
	background-size:20px 20px;
    background-color: #0039a6;
    color:#f78f1e;
    -webkit-box-shadow: 0px 2px 0px #C0C0C0, 0px 1px 6px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
	-moz-box-shadow: 0px 2px 0px #C0C0C0, 0px 1px 6px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
	box-shadow: 0px 2px 0px #C0C0C0, 0px 1px 6px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
	-webkit-transform: translate(0, 4px);
	-moz-transform: translate(0, 4px);
	transform: translate(0, 4px);
	-webkit-transition: all .1s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	
}

.print_button {
	background:url('../../image/print.png') no-repeat left;
	background-size:20px 20px;
	cursor:pointer;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    background-color: #0039a6;
    padding:2px 5px 2px 20px;
    font-size: 16px;
    border: 1px solid #2d6898; 
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-shadow: 0px -1px 0px rgba(0,0,0,.5);
    -webkit-box-shadow: 0px 6px 0px #C0C0C0, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
    -moz-box-shadow: 0px 6px 0px #C0C0C0, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
    box-shadow: 0px 6px 0px #C0C0C0, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
    
}

.print_button:active {
	background:url('../../image/print.png') no-repeat left;
	background-size:20px 20px;
    background-color: #0039a6;
    color:#f78f1e;
    -webkit-box-shadow: 0px 2px 0px #C0C0C0, 0px 1px 6px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
	-moz-box-shadow: 0px 2px 0px #C0C0C0, 0px 1px 6px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
	box-shadow: 0px 2px 0px #C0C0C0, 0px 1px 6px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
	-webkit-transform: translate(0, 4px);
	-moz-transform: translate(0, 4px);
	transform: translate(0, 4px);
	-webkit-transition: all .1s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	
}

.reset_button {
	background:url('../../image/reset.png') no-repeat left;
	background-size:20px 20px;
	cursor:pointer;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    background-color: #0039a6;
    padding:2px 5px 2px 20px;
    font-size: 16px;
    border: 1px solid #2d6898; 
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-shadow: 0px -1px 0px rgba(0,0,0,.5);
    -webkit-box-shadow: 0px 6px 0px #C0C0C0, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
    -moz-box-shadow: 0px 6px 0px #C0C0C0, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
    box-shadow: 0px 6px 0px #C0C0C0, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
    
}

.reset_button:active {
	background:url('../../image/reset.png') no-repeat left;
	background-size:20px 20px;
    background-color: #0039a6;
    color:#f78f1e;
    -webkit-box-shadow: 0px 2px 0px #C0C0C0, 0px 1px 6px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
	-moz-box-shadow: 0px 2px 0px #C0C0C0, 0px 1px 6px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
	box-shadow: 0px 2px 0px #C0C0C0, 0px 1px 6px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
	-webkit-transform: translate(0, 4px);
	-moz-transform: translate(0, 4px);
	transform: translate(0, 4px);
	-webkit-transition: all .1s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	
}

.submit_button {
	cursor:pointer;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    background-color: #0039a6;
    padding:2px 10px 2px 10px;
    font-size: 16px;
    border: 1px solid #2d6898; 
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-shadow: 0px -1px 0px rgba(0,0,0,.5);
    -webkit-box-shadow: 0px 6px 0px #C0C0C0, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
    -moz-box-shadow: 0px 6px 0px #C0C0C0, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
    box-shadow: 0px 6px 0px #C0C0C0, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
    
}

.submit_button:active {
    background-color: #0039a6;
    color:#f78f1e;
    -webkit-box-shadow: 0px 2px 0px #C0C0C0, 0px 1px 6px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
	-moz-box-shadow: 0px 2px 0px #C0C0C0, 0px 1px 6px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
	box-shadow: 0px 2px 0px #C0C0C0, 0px 1px 6px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
	-webkit-transform: translate(0, 4px);
	-moz-transform: translate(0, 4px);
	transform: translate(0, 4px);
	-webkit-transition: all .1s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	
}

.input {  	width:auto; height:auto;
			border:none;
			-webkit-appearance:none;
			padding:6px 5px 5px 10px;
			font-size: 14px;
			border: 1px solid #DDDDDD;
			-webkit-transition: all 0.30s ease-in-out;
			-moz-transition: all 0.30s ease-in-out;
			-ms-transition: all 0.30s ease-in-out;
			-o-transition: all 0.30s ease-in-out;
}
input:focus {  	box-shadow: 0 0 5px rgba(81, 203, 238, 1);
				border: 2px solid rgba(81, 203, 238, 1);
}

legend {	font-weight:bold; font-size:18px;
}

.view th { 	border-bottom:2px solid #0039a6;
}

.view td { 	border-bottom:2px solid lightgrey;
}


/*Patient Navigation*/

.notselected:hover { background-color:#ff5a00;
}
/*End*/

/*Patient Page*/

#patientpage .patient_information {
	}
#patientpage .patient_information th { font-size:18px; font-family:arial;
	}
#patientpage .patient_information td { border-bottom:1px solid #ff5a00;
	}
#patientpage textarea {		
			width:auto; height:auto;
			border:none;
			-webkit-appearance:none;
			padding:6px 5px 5px 10px;
			font-size: 14px;
			border: 1px solid #DDDDDD;
			-webkit-transition: all 0.30s ease-in-out;
			-moz-transition: all 0.30s ease-in-out;
			-ms-transition: all 0.30s ease-in-out;
			-o-transition: all 0.30s ease-in-out;
	}
#patientpage textarea:focus {  	
	box-shadow: 0 0 5px rgba(81, 203, 238, 1);
	border: 2px solid rgba(81, 203, 238, 1);
}

/*End*/

/*Appointment*/

#appointment table th { border-bottom:2px solid #0039a6;
	}
#appointment table td { border-bottom:2px solid lightgrey;
	}


/*End*/

/*Appointment*/

#setappt fieldset {	 	padding-top:10px;width:50%;
						margin-left:auto; margin-right:auto;
}
#setappt legend {	font-weight:bold; font-size:18px;
}

/*End*/

/*Consult*/

#consult .top_button {	color:#f78f1e;
}
#consult legend { font-weight:bold; font-size:18px;
}
#consult .image_view th { 	border-bottom:2px solid #0039a6;
}
#consult .image_view td { 	border-bottom:2px solid lightgrey;
}

/*End*/

/*Chart*/

#chart legend { font-weight:bold; font-size:18px;
}
#chart .view th { 	border-bottom:2px solid #0039a6;
					padding-top:15px;
}
#chart .view td { 	border-bottom:2px solid lightgrey;
}
#chart .view2 th { 	border-bottom:2px solid #0039a6;
}
#chart .view2 td { 	border-bottom:1px solid lightgrey;
}

/*End*/

#inpatient .view td { 	border-bottom:2px solid lightgrey;
}
#inpatient .view th { 	border-bottom:2px solid #0039a6;
}

