@CHARSET "ISO-8859-1";

* { font-family: "Trebuchet MS",arial, tahoma, san serif, helvetica; font-size:13px }

.pageTitle {  
	letter-spacing:.5em; border-bottom: 1px solid lightgray; width:100%; 
	font-weight:bold; font-size:14px; 
	padding-top:10px;font-variant:small-caps
	}
	
td {vertical-align:text-top}
td.tdl { border-bottom: 1px solid lightgray;} 
td.tdcl { border-bottom: 1px solid lightgray; text-align:center }
td.tdbcl { border-bottom: 1px solid lightgray; text-align:center; font-weight:bold}

th { background-color: rgb(230, 230, 230);  font-weight:normal; font-size: 13px; 
	border-bottom:1px solid black;  border-top:1px solid black;}

td.b_c { font-weight:bold;text-align:center}

fieldset {border:1px dashed lightgray; }

input[type="text"]
       {
       	border:1px solid lightgray;
       }
select
       {
       	border:1px solid lightgray;
       }


input[type=submit]
      {
      
      border:1px solid black;
}

input[type=reset]
      {
      
      border:1px solid black;
}

textarea, input
{
      
      border:1px solid lightgray;
} 