* {
	font-family:arial;font-size:11pt;
}

.pageTitle { font-size:140%;padding-top:10px;font-variant:small-caps;font-weight:bold;
	border-bottom:1px solid darkgray;width:100%;letter-spacing: .1em}

input [type="text"] { border: thin solid lightgray}

.err {color:red}



#menu {letter-spacing: .1em; color: black; font-weight:bold; 
	font-variant:small-caps; font-size:12px; text-decoration:none}
	
#menu a:visited {letter-spacing: .1em; color: white; font-weight:bold; 
	font-variant:small-caps; font-size:12px; text-decoration:none}

#menu a {letter-spacing: .1em; color: white; font-weight:bold; 
	font-variant:small-caps; font-size:12px; text-decoration:none}


#menu a:hover {color: black}

td {vertical-align:top;vertical-align:text-top}
td.ctr {text-align:center}
td.cv {text-align:center;}

td.tdl { border-bottom: 1px solid lightgray;} 
td.tdcl { border-bottom: 1px solid lightgray; text-align:center }
td.tdbcl { border-bottom: 1px solid lightgray; text-align:center; font-weight:bold}

a {color:blue;letter-spacing: .1em; font-weight:normal;font-variant;none;text-decoration:none}
a:visited {color:blue;font-variant:none;font-weight:normal}
a:hover {text-decoration:underline}


#naviright a:visited  {font-variant:small-caps; letter-spacing: .1em; color: black; 
	font-variant:small-caps; font-size:12px; text-decoration:none}

#naviright a {font-variant:small-caps; letter-spacing: .1em; color: black; 
	font-variant:small-caps; font-size:12px; text-decoration:none}

#naviright a:hover { color:darkgray; }


th {font-weight:bold}
